<div class="main-footer container-fluid">
  <div class="footer-links flex">
    <ul class="flex none-list-style">
      <li class="footer-item">
        
    </ul>
  <div class="flex footer-links">
    <ul class="flex none-list-style">
      <li class="footer-item">
        <img class="logo-footer" src="/static/imagenes/Logo-UPCN.png">
      </li>
      <li class="footer-item">
        <img class="logo-footer" src="/static/imagenes/Logo-Cultura.jpg">
      </li>
    </ul>

  </div>
</div>