<nav class="navbar  navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="logo-insti" src="/static/imagenes/Logo_i210_fondo_trans.png">
    </a>
    <div class="rotulo">
      Instituto Superior de Formación<br>Docente y Técnica N°210
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="text-align: right;">
        <li class="nav-item">
          <a class="nav-link" href="/" style="text-decoration: none;">Inicio</a>
        </li>
        {% if request.user.is_staff or request.user.is_superuser or request.user.admin %}
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-navbar dropdown-toggle nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none" style="text-align: right">
                Usuarios
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/user_list/">Lista de usuarios</a></li>
                <li><a class="dropdown-item" href="/create_user/">Crear nuevo usuario</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="https://isfdyt210-bue.infd.edu.ar/" style="text-decoration: none">El Instituto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://isfdyt210-bue.infd.edu.ar/sitio/ubicacion/" style="text-decoration: none">Contacto</a>
        </li>
        <li class="nav-item dropdown  display-none">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        {% if not user.is_authenticated %}
          <li class="nav-item last-nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <img class="icono-nav" src="/static/imagenes/Login.png">
              <span class="nav-user">Login</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link only-mob" href="{% url 'logout' %}">
              <img class="icono-nav" src="/static/imagenes/Logout.png">
              <span class="nav-user">Cerrar sesión</span>
            </a>
          </li>
          <li class="nav-item last-nav-item">
            
            <!-- Display only in mobile -->
            <a class="nav-link only-mob" href="#">
              {% if user.imagen %}
                <img class="icono-nav" src="{{ user.imagen.url }}">
              {% else %}
                <img class="icono-nav" src="/static/imagenes/Perfil.png">
              {% endif %}
              <span class="nav-user">{{user.email}}</span>
            </a>

            <!-- Display only in laptop -->
            <div class="dropdown dropstart mrg-0 only-lt">
              <button class="btn  dropdown mrg-0 only-lt" type="button" data-bs-toggle="dropdown">
                <a class="nav-link" href="#">
                  {% if user.imagen %}
                    <img class="icono-nav" src="{{ user.imagen.url }}">
                  {% else %}
                    <img class="icono-nav" src="/static/imagenes/Perfil.png">
                  {% endif %}
                  <span class="nav-user">{{user.email}}</span>
                </a>
              </button>
              <ul class="dropdown-menu user-dd" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/edit_user/{{ request.user.id }}">Editar perfil</a></li>
                <li><a class="dropdown-item" href="/change_password">Cambiar contraseña</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <img class="icono-nav" src="/static/imagenes/Logout.png">
                    <span class="nav-user">Cerrar sesión</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
