
{% extends 'base/base.html' %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}

<div id="chng-pass">  
    <form method="POST" class="form">
        <div class="cp-rectangulo1">
            <p class = "text-center reg-title">
                Cambiar Contraseña
            </p>
            {% csrf_token %}
            <p class = "text-center form-item">
                <label for="id_old_password">
                  Usuario : {{ request.user.email }}
                </label>
            </p>
            <p class = "text-center form-item">
                <label for="id_old_password">Contraseña actual:</label>
                <br>
                {{form.old_password}}
            </p>
            
            <p class = "text-center form-item">
                <label for="id_new_password1">Contraseña nueva:</label>
                <br>
                {{form.new_password1}}
            </p>

            <p class = "text-center form-item last-form-item">
                <label for="id_new_password2">Repita contraseña nueva:</label>
                <br>
                {{form.new_password2}}
            </p>
        </div>

        <div class="cp-rectangulo2">
            <div class="logo-registracion only-lt">
                <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-reg only-lt">
            </div>
            <div class="botones-registracion">
                <button type="submit" class="btn btn-blue">Cambiar</button>
                <div id="volver_usuario">
                    <a href="/">Volver a inicio</a>
                </div>
            </div>
        </div>  
            <!-- <button type="submit" class="btn btn-success">Cambiar</button> -->
    </form>
</div>

{% endblock %}
