{% extends 'base/base.html' %}

{% block title %}Editar usuario{% endblock %}

{% block content %}
{% load inscripcionfinales_extras %}
{% if request.path == "/edit_user/"|concatenate:request.user.id or request.user.is_staff or request.user.is_superuser or request.user.admin %}
<div id="edit-user"> 
  <form method="POST" class="form">
      <div class="edit-rectangulo1">
          {% csrf_token %}
          <p class="text-center form-item">
            <label for="id_username">Username:</label>
            <br>
            {{ form.username }}
            {% if form.username.errors %}
                <div id="register-error">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <p>El usuario ya está en uso.</p>
                  </div>
                </div>
            {%endif%}
          </p>
          {% if request.user.is_staff or request.user.is_superuser or request.user.is_admin %}
            <p class="text-center form-item">
              <label for="id_username">Nombres:</label>
              <br>  
              {{ form.nombres }}
            </p>
            <p class="text-center form-item">
              <label for="id_username">Apellido:</label>
              <br>
              {{ form.apellidos }}
            </p>
            <p class="text-center form-item">
              <label for="id_username">DNI:</label>
              <br>
              {{ form.dni }}
              {% if form.dni.errors %}
              <div id="register-error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  <p>El DNI ya está en uso.</p>
                </div>
              </div>
              {%endif%}
            </p>
          {% endif %}
          <p class="text-center form-item">
            <label for="id_fecha_nac">Fecha de nacimiento:</label>
            <br>
            <input type="date" class="form-edit_profile" name="fecha_nac">
            {% if form.fecha_nac.errors %}
            <div id="register-error">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>Fecha de nacimiento mal ingresada, verifique formato. dd/mm/aaaa.</p>
              </div>
            </div>
            {%endif%}
          </p>
          <p class="text-center form-item">
            <label for="id_direccion">Dirección:</label>
            <br>
            {{ form.direccion }}
          </p>
          <p class="text-center form-item">
            <label for="id_localidad">Localidad:</label>
            <br>
            {{ form.localidad }}
          </p>
          <p class="text-center form-item">
            <label for="id_ciudad">Ciudad:</label>
            <br>
            {{ form.ciudad }}
          </p>
          <p class="text-center form-item">
            <label for="id_nacionalidad">Nacionalidad:</label>
            <br>
            {{ form.nacionalidad }}
          </p>
          <p class="text-center form-item">
            <label for="id_telefono_1">Telefono:</label>
            <br>
            {{ form.telefono_1 }}
          </p>
          <p class="text-center form-item">
            <label for="id_telefono_2">Celular:</label>
            <br>
            {{ form.telefono_2 }}
          </p>
          <p class="text-center form-item">
            <label for="id_estado_civil">Estado civil:</label>
            <br>
            {{ form.estado_civil }}
          </p>
          <p class="text-center form-item last-form-item">
            <label for="id_sexo">Sexo:</label>
            <br>
            {{ form.sexo }}
          </p>
          <p class="text-center form-item display-none">
            <label for="id_imagen">Foto de perfil:</label>
            <br>
            {{ form.imagen }}
          </p>
        </div>

        <div class = "edit-rectangulo2">
          <div class="logo-edit-user only-lt">
            <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-edit only-lt">
          </div>
          <div class="botones-edituser">
            <button type="submit" class="btn btn-blue" style="transition: 0.6s">Guardar</button>

          <div id="volver_usuario">
            <a href="/user_list/" style="font-size: 20px; text-decoration: none">Volver a usuarios</a>
          </div>
        </div>
    </form>
</div>
{%else%}
<div class="text-center">
  <img src="/static/imagenes/error403.jpg" class="rounded"></img>
<h3>No deberías estar acá. Para volver, <a href="/">hace click acá</a></h3>
</div>
{%endif%}

{% endblock %}
