
{% extends 'base/base.html' %}

{% block title %}Registro de usuario{% endblock %}

{% block content %}
{% if request.user.is_staff or request.user.is_superuser or request.user.admin %}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table">
            <thead>
                <tr>
                  <th class="h5">ID</th>
                    <th class="h5">Email</th>
                    <th class="h5">Username</th>
                    <th class="h5">Nombres</th>
                    <th class="h5">Apellidos</th>
                    <th class="h5">Dni</th>
                    <th class="h5">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuarios in object_list %}
                <tr>
                    <td class="h6">{{usuarios.id}}</td>
                    <td class="h6">{{usuarios.email}}</td>
                    <td class="h6">{{usuarios.username}}</td>
                    <td class="h6">{{usuarios.nombres}}</td>
                    <td class="h6">{{usuarios.apellidos}}</td>
                    <td class="h6">{{usuarios.dni}}</td>
                    <td>
                        <a name="" id="" class="btn btn-primary" href="/show_user/{{ usuarios.id }}" role="button">Ver</a>
                        <a name="" id="" class="btn btn-primary" href="/edit_user/{{ usuarios.id }}" role="button">Editar</a>
                        <a name="" id="" class="btn btn-primary" href="/delete_user/{{ usuarios.id }}" role="button">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="text-center">
    <img src="/static/imagenes/error403.jpg" class="rounded"></img>
  <h3>No deberías estar acá. Para volver, <a href="/">hace click acá</a></h3>
</div>

{% endif %}

{% endblock %}