{% extends 'base/base.html' %}
{% include 'base/header.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}




<div class="container-fluid login-screen align-center">
  <div class="card login-card bg-trans no-border">
    <div class="row g-0 bg-trans">
      
      <div class="card-l border-rad40-l white-bg">
        <div class="card-body card-body-login">
          <h5 class="card-title">Recuperar contraseña</h5>
          <form action='../recuperar_pass/' method="post" class="login-form">
            {% csrf_token %}
            <div class="form-fields">
              <p>
                <label for="id_username">Email:</label>
                {{ form.email }}
              </p>       
            </div>
            
      
            <div  class="center-content">
              <div>
                <button type="submit" class="btn btn-blue btn-pr">Enviar</button>
              </div>
              <a href="/accounts/login/">Volver al Inicio de sesion</a>
            </div>
          </form>

        </div>
      </div>
      
      <div class="card-r border-rad40-r purple-bg">
        <h4 class="text-center sime-titulo">S.I.M.E</h4>
        <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-login">
      </div>

    </div>
  </div>
</div>

{% endblock %}
{% include 'base/footer.html' %}


