{% extends 'base/base.html' %}

{% block title %}Editar usuario{% endblock %}

{% block content %}
<h1>Perfil de {{ object.email }}</h1>
<div>
  {% comment %} <form method="post" class="">
    {% csrf_token %} {% endcomment %}
    <div class="card p-3 mb-2 bg-light">
      <div class="card-body p-3 mb-2">
<div class="position-absolute top-50 start-50 translate-middle"></div>
    <p class="h6 fw-semibold">
      Nombre de Usuario: {{ object.username }}
    </p>
    <p class="h6 fw-semibold">
      Email: {{ object.email }}
    </p>
    <p class="h6 fw-semibold">
      Nombres: {{ object.nombres }}
    </p>
    <p class="h6 fw-semibold">
      Apellidos: {{ object.apellidos }}
    </p>
    <p class="h6 fw-semibold">
      Fecha de Nacimiento: {{ object.fecha_nac }}
    </p>
    <p class="h6 fw-semibold">
      DNI: {{ object.dni }}
    </p>
    <p class="h6 fw-semibold">
      Dirección: {{ object.direccion }}
    </p>
    <p class="h6 fw-semibold">
      Localidad: {{ object.localidad }}
    </p>
    <p class="h6 fw-semibold">
      Ciudad: {{ object.ciudad }}
    </p>
    <p class="h6 fw-semibold">
      Nacionalidad: {{ object.nacionalidad }}
    </p>
    <p class="h6 fw-semibold">
      Teléfono 1: {{ object.telefono_1 }}
    </p>
    <p class="h6 fw-semibold">
    Telefóno 2: {{ objecttelefono_2 }}
  </p>
  <p class="h6 fw-semibold">
    Estado Civil: {{ object.estado_civil }}
  </p>
  <p class="h6 fw-semibold">
    Sexo: {{ object.sexo }}
  </p>
  <p class="h6 fw-semibold">
    Género: {{ object.genero }}
  </p>
  <p class="h6 fw-semibold">
    Foto de perfil: {{ object.imagen }}
  </p>

</div>

<p>
  
  <a href="/user_list/">
    <button type="button" class="btn btn-primary">Volver a lista de usuarios</button>
  </a>

  <a href="/">
    <button type="button" class="btn btn-primary">Volver a Inicio</button>
  </a>
</p>
{% endblock %}

  